<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escenario</title>
    <link rel="stylesheet" href="../../../assets/css/juego.css">
</head>
<body>
    <div id="popup" style="display:none;">
        <!-- El contenido de la pregunta y las opciones se insertará aquí -->
    </div>
    <div class="background">
        <!-- Botones en la parte superior derecha -->
        <div id="botones-dcha">
            <button class="botones progreso">P.I 0/5</button>
            <button class="botones terminar" disabled>Terminar</button>
        </div>

        <!-- Controles -->
        <div id="controles">
            <button id="salir">Salir</button>
            <button id="resetear">Resetear</button>
        </div>

        <!-- Contenedor de juego -->
        <div id="div-juego">
            <img id="mapa" src="../../../assets/img/Educacion.png" alt="Escenario">
            <img id="player" src="../../../assets/img/luis.png" alt="Jugador" style="position:absolute;">
            <!-- Se cambiara dinamicamente despues desde el back -->
            <div class="punto" data-escenario="3" style="position:absolute; left: 20vw; top: 10vh;"></div>
            <div class="punto" data-escenario="3" style="position:absolute; left: 44vw; top: 37vh;"></div>
            <div class="punto" data-escenario="3" style="position:absolute; left: 6vw; top: 50vh;"></div>
            <div class="punto" data-escenario="3" style="position:absolute; left: 35vw; top: 30vh;"></div>
            <div class="punto" data-escenario="3" style="position:absolute; left: 9vw; top: 10vh;"></div>
        </div>

        <!-- Barra inferior -->
        <div id="barraBotones">
            <div id="progreso">
                <span id="equidad">Equidad</span>
                <div id="barra-progreso">
                    <div id="rellenar-progreso"></div>
                </div>
            </div>
            <div id="info">
                <button class="botones controles">Controles</button>
                <span id="escenario">Escenario: Educación</span>
            </div>
        </div>
    </div>

    <!-- Script principal -->
    <script type="module" src="/src/app/user/view/js/juego/mainJuego.js"></script>
    <script type="module" src="mainJuego.js"></script>
    <!-- Script enlaces -->
    <script type="module" src="../menu/gestionarMenus.js"></script>
</body>
</html>
