<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/img/Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/styleMaria.css">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <title>Inscripción al ranking</title>
</head>
<body class="irish-grover-regular">
    <header>
        <h1>Inscripción al Ranking</h1>
    </header>
    <main id="rankingForm">
        <form action="" method="">
            <label for="name">Nombre del jugador:</label>
            <input type="text" id="name" name="nombreJugador" placeholder="Ej: Maria">
            <button class="cancelar">Cancelar</button>
            <button class="borrar">Borrar</button> 
            <button class="enviar">Enviar</button>
        </form>
    </main>
    <button class="volver">Volver</button>
</html>