<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Añadir Personaje</title>
        <link rel="icon" href="../../src/img/Logo.png" type="image/x-icon">
        <link rel="stylesheet" href="/src/app/admin/assets/css/reset.css">
        <link rel="stylesheet" href="/src/app/admin/assets/css/stylezeus.css">
    </head>
    <body>
        <div id="addPersonBg">
            <nav>
                <a href="panelAdmin.html">Volver</a>
                <h2>Añadir Pregunta</h2>
            </nav>
            <form action="" method="POST" class="formPersonajes">
                <label for="nombre">Pregunta:</label>
                <input type="text" name="pregunta" id="pregunta" required>
                
                <label for="edad">Respuestas:</label>
                <button id="aniadirRespuestas">+</button>
                <button id="quitarRespuestas">-</button>
                <div id="contenedorDeRespuestas">
                    <input type="text" name="respuestas" id="respuestas1" required>
                </div>
                

                <button type="submit" id="submitButton">Añadir</button>
            </form>
        </div>



        <!-- Scripts de validacion de Form  -->
         <script type="text/javascript" src="/src/app/admin/view/js/validarInsercionPregunta.js"></script>    
    </body>
</html>
