/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');


/**********************/
/*    Panel Admin     */
/**********************/


body {
    font-family: "Irish Grover", system-ui;
    background-color: #c8f2c4;
}

main h1{
    font-size: 5rem;
    text-align: center;
    margin: 10vh 0;
}

#navPanelAdmin {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-shrink: 1;
    align-items: center;
    padding: 3vh;
    background-color: #a2d79d;
}

#navPanelAdmin>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navPanelAdmin>div>span {
    font-size: 1.3rem;
    margin: 2vh 0;
}

#navPanelAdmin i {
    display: block;
    font-size: 4rem;
    cursor: pointer;
    margin: 0 auto;
    transition: color 0.3s;
}

#panelAdmin>div {
    margin-top: 20vh;
}

#panelAdmin>div>p{
    margin: 9vh 3vw;
    font-size: 2rem;
}

.añadir:hover {
    color: #46f946;
}

.basura:hover {
    color: #f94646;
}

.modificar:hover {
    color: #f9f946;
}

.listar:hover {
    color: #cb39ef;
}

.recuperar:hover {
    color: #3982ef;
}

.quitarEstilo{
    text-decoration: none;
    color: black;
}

/**********************/
/*    Opciones del Nav    */
/**********************/
#opciones {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 15%;
    background-color: #a2d79d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#opciones .nav-link {
    font-size: 1.5rem;
    text-decoration: none;
    color: #000;
    margin: 1.5rem 0;
    padding: 1rem;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

#opciones .nav-link:hover {
    background-color: #3982ef;
    color: #fff;
}

/**********************/
/*    Main Content    */
/**********************/
.opcion {
    font-family: "Irish Grover", system-ui;
    background-color: #c8f2c4;
    margin-left: 15%; /* Añade margen para no solapar el contenido */
}

.opcion main h1 {
    font-size: 5rem;
    text-align: center;
    margin: 10vh 0;
}
