#contenedor-barra-progreso {
    border: 1px solid black;
    height: 32px;
    position: relative;
    width: 300px;
  }
  
  #barra-progreso {
    background-color: lightgreen;
    height: 100%;
    position: absolute;
  }
  
  #cantidad-progreso {
    float: left;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .boton {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
  }
  
  #mensaje-gano {
    display: none; /* Inicialmente el mensaje está oculto */
    font-size: 20px;
    font-weight: bold;
    color: green;
  }
  